<div ng-controller="GithubissuesCtrl"> 

	<div> 
		<form>
			<input type="text" ng-model="issue.title" placeholder="Add Title"></textarea>
			<textarea ng-model="issue.description" placeholder="Add description"></textarea>
		</form> 
		<button ng-click="postNewIssue()">Add new issue</button>
	</div>


	<div>
		<h1>Current Issues </h1>
		<div ng-repeat=" issue in issues">
			<br>
			<p><h2>Issue : <i>{{ issue.title}} </i></h2></p>
			<h4>By : {{ issue.user.login}}</h4>
			<p>Description : {{ issue.body}}</p>
			
		</div>
	</div>

</div>
